nav{
    background-color: black;
    
    .container{
        margin: 0px;
        max-width: 100%;
    }

    img{
        width: 10em;
    }

    svg{
        width: 35px;
    }
    a{
        font-size: 1.3em;
        margin: 0px 10px;
        transition: 0.5s;
        font-weight: bold;
        color: white;
        text-decoration: none;
    }
    a:hover{
        font-size: 1.5em;
        color: white;
    }
}