nav {
  background-color: black;
}
nav .container {
  margin: 0px;
  max-width: 100%;
}
nav img {
  width: 10em;
}
nav svg {
  width: 35px;
}
nav a {
  font-size: 1.3em;
  margin: 0px 10px;
  transition: 0.5s;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
nav a:hover {
  font-size: 1.5em;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

input[type=text] {
  box-shadow: 3px 3px 0px 0px rgb(57, 179, 75);
}

input[type=submit] {
  background-color: rgb(57, 179, 75);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgba(57, 179, 75, 0.8);
}

#swalContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#TitleContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-image: url("../img/greenBg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 20vh;
}
#TitleContainer h1 {
  font-size: 4.5vw;
  color: white;
}
#TitleContainer img {
  width: 30vw;
  margin: 15px 0px;
}

#cell1, #cell2, #cell3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}
#cell1 img, #cell2 img, #cell3 img {
  width: 22%;
  margin: 0px 15px;
}
#cell1 div, #cell2 div, #cell3 div {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

#productGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 1rem;
  text-align: center;
  padding: 25px;
}

#productDetail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
#productDetail img {
  width: 55vw;
}
#productDetail h2, #productDetail p {
  font-size: 30px;
}
#productDetail h3 {
  font-size: 25px;
  color: rgb(57, 179, 75);
}
#productDetail h4 {
  color: rgb(57, 179, 75);
  font-size: 40px;
}
#productDetail #productDetailButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
}

#containerNavBar {
  background-color: rgb(33, 33, 33);
}
#containerNavBar a:hover {
  font-size: 1.4em;
  color: white;
}

#itemCount {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin-top: 15px;
}
#itemCount #buttonResta, #itemCount #buttonSuma {
  background-color: rgb(179, 57, 57);
  width: 30px;
  margin: 0px 10px;
  border-radius: 10px;
  height: -moz-fit-content;
  height: fit-content;
  align-self: center;
}
#itemCount #buttonSuma {
  background-color: rgb(57, 179, 75);
}
#itemCount p {
  text-align: center;
  margin: 0px;
}
#itemCount .searchButton {
  font-size: 1.2em;
}

.searchButton {
  background-color: black;
  padding: 10px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  font-size: 1.3em;
  transition: 0.3s;
}

.searchButton:hover {
  box-shadow: 5px 5px 0px 0px rgb(57, 179, 75);
  transform: scale(1.05) translate(-2px, -2px);
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255,255, 1.0)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.cCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.199);
  margin: 5px;
  transition: 0.3s;
  text-decoration: none;
  color: black;
}
.cCard img {
  padding: 10px;
  width: 95%;
}
.cCard button {
  margin: 15px 0px;
}
.cCard h2 {
  font-size: 1.5em;
  cursor: default;
}
.cCard h3 {
  font-size: 1.2em;
}

.cCard:hover {
  box-shadow: 8px 8px 0px 0px rgb(57, 179, 75);
  transform: scale(1.05) translate(-8px, -8px);
}

.longCard {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  margin: 10px 0px;
  padding: 15px;
  border: 1px solid black;
  box-shadow: 5px 5px 0px 0px rgb(57, 179, 75);
}
.longCard img {
  max-width: 25%;
  margin-right: 15px;
}
.longCard .searchButton svg {
  width: 20px;
}
.longCard #infoLongCard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
}
.longCard #infoLongCard h2 {
  font-size: 1.5em;
  color: rgb(57, 179, 75);
}
.longCard #infoLongCard h3 {
  font-size: 1.9em;
}

@media (max-width: 992px) {
  #productDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  #productDetail #productDetailInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    width: 100vw;
  }
  #productDetail h3, #productDetail h4 {
    text-align: center;
  }
  #productDetail #productDetailButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
  }
  #itemCount {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
  }
  #itemCount .searchButton {
    font-size: 1.2em;
  }
}
@media (max-width: 800px) {
  .longCard #infoLongCard h2 {
    font-size: 1em;
  }
  .longCard #infoLongCard h3 {
    font-size: 1.5em;
  }
  #productGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 425px) {
  #productDetail h2 {
    font-size: 25px;
  }
}
@media (max-width: 725px) {
  .longCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
  }
}/*# sourceMappingURL=main.css.map */